{% extends "baseTemplate.twig" %}
{% block body %}
    <body>
<div id="loginForm">
    {% if post == true %}
        {% if result == 1 %}
            <div>Successful registration.</div>
        {% else %}
            <div>Unable to register. <a href='register'>Please try again.</a></div>
        {% endif %}
    {% endif %}

    {% if post == false %}
    <form action="register" method="post">

        <div id="formHeader">Registration Form</div>

        <div id="formBody">
            <div class="formField">
                <input type="username" name="username" required placeholder="Username" />
            </div>

            <div class="formField">
                <input type="password" name="password" required placeholder="Password" />
            </div>

            <div>
                <input type="submit" value="Register" class="customButton" />
            </div>
        </div>
        <div id='userNotes'>
            Already have an account? <a href='login'>Login</a>
        </div>
    </form>
</div>
    {% endif %}
{% endblock %}